doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title Document
    link(href='/common/css/style.css', rel='stylesheet')
  body
    h1 sample site
    p this is quite simple site by jade
    p これはテストです